* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
Kconfig text eol=lf
*.conf text eol=lf
*.overlay text eol=lf
*.dts text eol=lf
*.dtsi text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.jpg binary
*.jpeg binary
*.png binary
